.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.react-logo {
		width: 400px;
		animation: rotate 4s linear infinite;
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.hello {
		&>*:not(:nth-child(1)) {
			margin: 50px;
		}

		.plugin-list {
			display: flex;
			justify-content: center;
			align-items: center;

			>* {
				margin: 20px;
			}
		}
	}
}